.actions {
  display: flex;
  button {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem 1rem;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    cursor: pointer;
  }
}

.social-media {
  img {
    margin: 0.5rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.lang {
  padding: 0.7em;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #000;
  border: 1px solid #0e987a;
  position: absolute;
  cursor: pointer;
}
