.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: #000;

  .lang {
    top: 1.5rem;
    right: 1.5rem;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    margin: 7rem 2rem 4rem 2rem;
    li {
      a {
        color: #fff;
        font-size: 1.3em;
        font-weight: 500;
        padding: 0.5em 1em;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  .actions {
    margin-left: 2rem;
    flex-direction: column;

    button {
      z-index: 2;
      transition: 0.2s;
      border: 1px solid #54a399;
      &:first-child {
        background: linear-gradient(
          90deg,
          rgb(30, 174, 222) 0%,
          rgba(84, 163, 153, 1) 70%,
          rgba(62, 203, 179, 1) 100%
        );
      }
      &:nth-child(2) {
        background: #000;
      }
      &:hover {
        color: #000;
        background: #fff;
        border: 1px solid transparent;
      }
    }
  }
}
